GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=<Your-GCP-Project-ID>
GOOGLE_CLOUD_LOCATION=us-west1
REASONING_ENGINE_ID=<Vertex-Ai-Session-Engine-Id-Numbers> # Copy the numbers from the GCP Console -> Agent Engine -> Resource Name numbers.
POLYMARKET_PRIVATE_KEY=0x123 # This is your Private Key. Export from https://reveal.magic.link/polymarket or from your Web3 Extension
POLYMARKET_PROXY_ADDRESS=0x123 # This is the address listed below your profile picture when using the Polymarket site.